# GitLab CI/CD for threads CLI - Multi-language testing
# Tests all 7 implementations on every push

stages:
  - test

variables:
  GIT_DEPTH: 1

# Template for test jobs
.test_template:
  stage: test
  before_script:
    - echo "Testing $CI_JOB_NAME implementation"
  artifacts:
    when: on_failure
    paths:
      - test/results/
    expire_in: 1 week

# Go implementation
test:go:
  extends: .test_template
  image: golang:1.24
  before_script:
    - apt-get update && apt-get install -y gawk make
  script:
    - make test-go

# Python implementation
test:python:
  extends: .test_template
  image: python:3.12
  before_script:
    - apt-get update && apt-get install -y gawk make
    - pip install uv
  script:
    - make test-python

# Perl implementation
test:perl:
  extends: .test_template
  image: perl:5.38
  before_script:
    - apt-get update && apt-get install -y gawk make
    - cpanm --notest YAML::Tiny
  script:
    - make test-perl

# Rust implementation
test:rust:
  extends: .test_template
  image: rust:1.82
  before_script:
    - apt-get update && apt-get install -y gawk make
  script:
    - make test-rust

# Swift implementation
test:swift:
  extends: .test_template
  image: swift:5.9
  before_script:
    - apt-get update && apt-get install -y gawk make
  script:
    - make test-swift

# Ruby implementation
test:ruby:
  extends: .test_template
  image: ruby:3.3
  before_script:
    - apt-get update && apt-get install -y gawk make
  script:
    - make test-ruby

# Bun implementation
test:bun:
  extends: .test_template
  image: oven/bun:1.0
  before_script:
    - apt-get update && apt-get install -y gawk make git
  script:
    - make test-bun
